@page
@{
    Layout = "_Layout";
    string error = ViewBag.Error;
}

@section Scripts {
        <script src="~/js/login.js"></script>
}

<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no" />
    <meta name="description" content="" />
    <meta name="author" content="" />
    <title>Shop Homepage - Start Bootstrap Template</title>
    <!-- Favicon-->
    <link rel="icon" type="image/x-icon" href="assets/favicon.ico" />
    <!-- Bootstrap icons-->
    <link href="https://cdn.jsdelivr.net/npm/bootstrap-icons@1.5.0/font/bootstrap-icons.css" rel="stylesheet" />
    <!-- Core theme CSS (includes Bootstrap)-->
    <link href="~/css/styles.css" rel="stylesheet" />
</head>
<body>
    <header class="bg-dark py-5">
        <div class="container px-4 px-lg-5 my-5">
            <div class="text-center text-white">
                <h1 class="display-4 fw-bolder">Prijavite se</h1>
                <p class="lead fw-normal text-white-50 mb-0">Registrujte se ukoliko nemate nalog!</p>
            </div>
        </div>
    </header>
    <!-- Section-->
    <section class="py-5">
        
        @if (!string.IsNullOrWhiteSpace(error))
        {
            <h4 style="color: red">@error</h4>
        }
            
        <div class="form-floating mb-3">
            <input id="user" name="username" class="input-field" placeholder="Username ">
        </div>

        <div class="form-floating mb-3">
            <input id="pass" name="password" type="password" class="input-field" placeholder="Password ">
        </div>

        <div class="d-grid">
            <button id="login" class="submit-btn" type="submit">Prijavi se</button>
        </div>
    </section>
    <!-- Bootstrap core JS-->
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.2.3/dist/js/bootstrap.bundle.min.js"></script>
    <!-- Core theme JS-->
    <script src="~/js/scripts.js"></script>

</body>